<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% 5.times do |i|%>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag("img/home/partners/partner-0#{i+1}.png", :alt => "partner-img") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
