<% provide(:title, @category.name) %>
<%= render partial: 'categories_header', locals: { category: @category } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% @taxonomies.each do |taxonomy| %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.name %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
                    <ul id="<%= taxonomy.name %>" class="collapse collapseItem">
                      <% taxonomy.taxons.each do |category| %>
                        <% if category.products.any? %>
                          <li><a href="<%= potepan_category_path(category.id) %>"><%= category.name %><i class="fa fa-caret-right" aria-hidden="true"></i><span>&ensp;(<%= category.all_products.length %>)</span></a></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'filter_color' %>
        <%= render 'filter_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filterArea' %>
        <div class="row">
          <%= render partial: 'product',collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'categories_footer_logo' %>
